footer {
    padding: 20px;
    background-color: #1b1b1b;
    color: white;
    width: 100%;
}

footer h3 {
    font-size: 1.1rem;
    padding-bottom: 10px;
}

footer span {
    color: #d80606;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.footer-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right {
    display: flex;
    gap: 50px;
}

ul {
    list-style: none;
}

.footer-part a {
    font-size: 0.8rem;
}

.social-links {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 10px;
    cursor: pointer;
    padding-top: 15px;
}

.social-links li:hover {
    color: #d80606;
}

@media screen and (max-width: 768px) {
    
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    footer {
        text-align: center;
    }
}
